#timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: white;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  font-size: 2rem;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.card-before-top {
  line-height: 100px;
  background-color: whitesmoke;
  border-bottom: 1px solid black;
}
.card-before-bottom {
  line-height: 0px;
  top: 50%;
  background-color: whitesmoke;
  transform: rotateX(180deg);
  transform-origin: center top;
  backface-visibility: hidden;
  transition: transform 0.3s;
  z-index: 10;
  border-top: 1px solid black;
}

.card-after-top {
  line-height: 100px;
  backface-visibility: hidden;
  transform-origin: center bottom;
  transition: transform 0.3s;
  background-color: white;
  border-bottom: 1px solid black;
}

.card-after-bottom {
  line-height: 0px;
  top: 50%;
  background-color: white;
  border-top: 1px solid black;
}
.card-before-bottom.active {
  transform: rotateX(0deg);
}

.card-after-top.active {
  transform: rotateX(-180deg);
}
